@startuml
!define AWSPUML https://raw.githubusercontent.com/milo-minderbinder/AWS-PlantUML/release/17-10-18/dist
!includeurl AWSPUML/common.puml
!includeurl AWSPUML/ApplicationServices/AmazonAPIGateway/AmazonAPIGateway.puml
!includeurl AWSPUML/General/AWScloud/AWScloud.puml
!includeurl AWSPUML/Compute/AmazonEC2/instance/instance.puml
!includeurl AWSPUML/Database/AmazonRDS/MySQLDBinstance/MySQLDBinstance.puml

' TODO: we need to make this into a mustache template
' There can be many subnets, which contain many servers and many databases

AWSCLOUD(aws) {
{{#subnets}}
    frame "{{subnet_name}}" {
    {{#ec2}}
        INSTANCE({{id}}, "{{name}}")
    {{/ec2}}
    {{#rds}}
        MYSQLDBINSTANCE({{id}},"{{name}}")
    {{/rds}}
    }
{{/subnets}}

@enduml