@startuml
!define AWSPUML https://raw.githubusercontent.com/milo-minderbinder/AWS-PlantUML/release/17-10-18/dist
!includeurl AWSPUML/common.puml
!includeurl AWSPUML/ApplicationServices/AmazonAPIGateway/AmazonAPIGateway.puml
!includeurl AWSPUML/General/AWScloud/AWScloud.png
!includeurl AWSPUML/Compute/AmazonEC2/instance/instance.puml
!includeurl AWSPUML/Compute/ElasticLoadBalancing/ApplicationLoadBalancer/ApplicationLoadBalancer.puml
!includeurl AWSPUML/Database/AmazonRDS/MySQLDBinstance/MySQLDBinstance.puml

AWSCLOUD(aws) {
{{#subnets}}
    frame "{{subnet_name}}" {
        {{#ec2}}
            INSTANCE("{{id}}", "{{name}}")
        {{/ec2}}
        {{#rds}}
            MYSQLDBINSTANCE("{{id}}","{{name}}")
        {{/rds}}
        {{#elb}}
            APPLICATIONLOADBALANCER("{{id}}","{{name}}")
        {{/elb}}
    }

{{#connections}}
    {{src}} -> {{dest}}
{{/connections}}
{{/subnets}}

@enduml